<%= link_to 'Rent out a garage', new_garage_path %>

<h1>Your garages</h1>

<% if @garages.empty? %>
  <h2>You have no garage yet! =(</h2>
<% else %>
  <% @garages.each do |garage| %>
    <% if garage.photos.attached? %>
      <%= cl_image_tag garage.photos.first.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <h3><%= link_to garage.title, garage %></h3>
    <p>R$ <%= garage.price %></p>
    <p><%= garage.address %></p>
    <p><%= garage.description %></p>
    <p><%= garage.user.name %></p>
    <br>
  <% end %>
<% end %>