<div class="container">

<h3>Your garages</h3>

<% if @garages.empty? %>
  <h5>You have submitted no garages yet! =(</h5>
<% else %>
  <div class="container">
    
      <div class="grid-cards">
        <% @garages.each do |garage| %>
          <div class="card-product list-card">
            <% if garage.photos.attached? %> 
              <%= cl_image_tag garage.photos.first.key %>
            <% end %>
            <div class="card-product-infos">
              <h5><%= link_to garage.title, garage %></h5>
              <% if garage.rentals.select { |rental| rental.end_date.nil? }.empty? %>
                <p class="garage-status available">Available</p>
              <% else %>
                <% rental = garage.rentals.select { |rental| rental.end_date.nil? }.first %>
                <p class="garage-status unavailable">Rented since <%= rental.start_date.strftime("%d/%m/%Y") %> by <%= rental.user.name %></p>
              <% end %>
              <p><%= "#{garage.rating} stars" %></p>
              <p><%= garage.address %></p>
              <p><%= garage.description %></p>
              <div>
                <p id="price">R$ <%= sprintf('%.2f', garage.price).gsub('.', ',') %>/day</p>
              </div>
            </div><!-- Fim do Card-Product-infos-->
          </div><!-- Fim do Card-Product-->
        <% end %>
      </div><!-- Fim do grid de Cards-->
  </div>
  <br>
<% end %>

<hr>
<a class="btn-rent" href="/garages/new">Rent out a garage</a>

</div>

<br>
<br>