<h1><%= @garage.title %></h1>
<% if @garage.photos.attached? %>
    <% @garage.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
<% unless @garage.rating.nil? %>
  <h5><%= @garage.rating %> star<%= 's' if @garage.rating > 1 %></h5>
<% end %>
<p>R$ <%= @garage.price %></p>
<p><%= @garage.address %></p>
<p><%= @garage.description %></p>
<p><%= @garage.user.name %></p>

<% if policy(@garage).update? %>
  <% if @garage.rentals.select { |rental| rental.end_date.nil? }.empty? %>
    <p>This garage is available.</p>
  <% else %>
    <% rental = @garage.rentals.select { |rental| rental.end_date.nil? }.first %>
    <p>Rented since <%= rental.start_date.strftime("%d/%m/%Y") %> by <%= rental.user.name %>.</p>
  <% end %>
  <%= link_to "Edit garage details", edit_garage_path(@garage) %>
  <%= link_to "Delete garage subscription", @garage, method: :delete %>
  <% else %>
    <% if current_user %>
      <%= link_to 'Rent this garage', new_garage_rental_path(@garage) %>
    <% else %>
      <%= link_to 'Sign in to rent', user_session_path %>
    <% end %>
<% end %>

<br>
<h4>Reviews</h4>
<% if @garage.reviews.empty? %>
  <p>No reviews submitted yet. =(</p>
<% else %>
  <% @garage.reviews.each do |review| %>
    <h5><%=review.rating %> star<%= 's' if review.rating > 1 %></h5>
    <p><%= review.rental.user.name %></p>
    <p><%= review.content %></p>
    <br>
  <% end %>
<% end %>