<div class="container">
  <br>
  <h4 class="text-center"><%=  "#{current_user.name}'s rentals" %></h4> 
  <% @rentals.each do |rental| %>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card mt-2" style="width: 300px;">
        <% if rental.garage.photos.attached? %>
          <%= cl_image_tag rental.garage.photos.first.key, height: 300, width: 300, crop: :fill %>
        <% end %>
          <div class="card-body ">
            <h5 class="card-text"><strong><%= link_to rental.garage.title, rental.garage %></strong></h5>
            <p class="card-text"><%= "Start date: #{rental.start_date.strftime("%d/%m/%Y")}" %></p>
            <% if rental.end_date.nil? %>
              <p class="card-text">Ongoing rental</p>
              
            <% else %>
              <p class="card-text"><%= "End date: #{rental.end_date.strftime("%d/%m/%Y")}" %></p>
              <% if rental.review.nil? %>
                <%= link_to 'Add Rewiew', new_rental_review_path(rental), class:"btn btn-primary justify-items-center" %>
              <% else %>
                <p>Your rating: <%=rental.review.rating %> star<%= 's' if rental.review.rating > 1 %></p>
              <% end %>
            <% end %>
            
            <%# <%= link_to 'Edit', edit_rental_path(rental), class:"btn btn-primary" %>
          </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

